*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  body {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      margin-left: 100px;
      margin-right: 100px; 
      width: 70%;
  }

  .grid {       
      display: grid;
      padding-top: 50px;
      padding-bottom: 250px;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 200px 100px;
       
      background: repeating-linear-gradient(
                    to right,
                    #f1eade,
                    #b6b6b413 10px,
                    #f7f6f5 10px,
                    #ffd180 20px
                        );  
  }

  header {             
      color: cornflowerblue;
      background-color: lightgoldenrodyellow;
      opacity: 0.7;
      padding: 30px;
  }

  footer {       
    padding: 50px;  
    background-color: lightgoldenrodyellow;
    text-align: center;
    opacity: 0.7;
    
}

img {
    border-radius: 10px;
    width: 19%;
    padding: 3px;
    flex-shrink: 0;
    max-width: 100%;
}

h2 {
      text-align: center;
}
   

h3 {
  color: darkslateblue;
  text-align: left;
}

p {
    text-align: left;
}

.row1 {
    overflow-x: hidden;
    margin-left: calc(-50vw + 50%);
}

.row2 {
    overflow-x: hidden;
    margin-left: calc(-50vw + 50%);
}

buttons {
display: inline-flex;
}

.wrapper {
    text-align: center;
    display: block;
    margin-left: 300px;
     
}



 

 